@model IEnumerable<SearchProduct.Models.Category>;
@{
    ViewData["Title"] = "Index";    
}


<br />
<br />
<br />
<div class="row">
    <div class="col-6">
        <h2>Product List</h2>
    </div>
    <div class="col-6 text-end">
        <a class="btn btn-primary" asp-action="Create" asp-controller="Category">Add Category</a>
    </div>
</div>
<br />
<div class="row">

    <table id="categoryTable" class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            
             
            displayCategories();
        });
        function displayCategories() {
            $.ajax({
                type: "GET",
                url: "/Category/GetData",
                dataType: "json",
                success: function (data) {
                    var tbody = $("#categoryTable tbody");
                    tbody.empty();

                    $.each(data, function (index, category) {
                        var row = "<tr>" +
                            "<td>" + category.id + "</td>" +
                            "<td>" + category.name + "</td>" +
                            "<td>" +
                            "<a class='btn btn-primary' href='/Category/Edit/" + category.id + "' >Edit</a>" +
                            "<button type='button' class='btn btn-danger deleteData' onClick='deleteD(" + category.id + ")' data-id='" + category.id + "'>Delete</button>" +
                            "</td>" +
                            "</tr>";

                        tbody.append(row);
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function deleteD(id) {       
            
            $.ajax({
                url: "/Category/Delete?id=" +id ,               
                success: function (response) {
                    displayCategories();
                }
            });
        };
    </script>
}
